@import "compass/reset";
@import "compass/css3";
@import "variables";

// style
section, article, aside, footer, header, nav, hgroup {
  display:block;
}

body {
  background-color: #263238;
  font: 16px $base-font;
  color: $white;
}

strong {
  font-weight: 700;
}

.wrap {
  margin: 0 auto;
  width: 640px;
  box-sizing: border-box;
}

.emoji {
  font-weight: normal;
  font-family: $emoji;
}

header {
  position: relative;
  height: 360px;
  background: #90a4ae url("../img/bg.png");
  border-bottom: 1px solid #13191c;
  @include transition-property(background-color);
  @include transition-duration(1s);
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%));
    content: "";
    z-index: 0;
  }
  // weather style
  &.weather_01d, &.weather_02d {
    background-color: $weather-clear;
  }
  &.weather_01n, &.weather_02n {
    background-color: darken($weather-clear, 50%);
  }
  &.weather_03d, &.weather_04d, &.weather_09d, &.weather_10d, &.weather_11d, &.weather_13d {
    background-color: $weather-cloud;
  }
  &.weather_03n, &.weather_04n, &.weather_09n, &.weather_10n, &.weather_11n, &.weather_13n {
    background-color: darken($weather-cloud, 50%);
  }
  &.weather_50d {
    background-color: $weather-mist;
  }
  &.weather_50n {
    background-color: darken($weather-mist, 50%);
  }
  &.weather_01d .info:before {
    content: "☀️ ";
  }
  &.weather_01n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "☀️ ";
  }
  &.weather_02d .info:before {
    content: "⛅️ ";
  }
  &.weather_02n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "⛅️ ";
  }
  &.weather_03d .info:before, &.weather_04d .info:before {
    content: "☁️ ";
  }
  &.weather_03n .info:before, &.weather_04n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "☁️ ";
  }
  &.weather_09d .info:before {
    content: "🌧️ ";
  }
  &.weather_09n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "🌧️ ";
  }
  &.weather_10d .info:before {
    content: "🌦️ ";
  }
  &.weather_10n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "🌦️ ";
  }
  &.weather_11d .info:before {
    content: "🌩️ ";
  }
  &.weather_11n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "🌩️ ";
  }
  &.weather_13d .info:before {
    content: "🌨️ ";
  }
  &.weather_13n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "🌨️ ";
  }
  &.weather_50d .info:before {
    content: "🌫 ";
  }
  &.weather_50n .info:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    content: "🌫 ";
  }
  .wrap {
    position: relative;
    padding-top: 160px;
    text-align: center;
    > img {
      position: relative;
      vertical-align: top;
      z-index: 1;
    }
    .info {
      position: absolute;
      left: 0;
      top: 0;
      font: bold 12px "돋움", "Dotum", sans-serif;
      color: rgba(255,255,255,.8);
      &:before {
        font-family: $emoji;
      }
    }
  }
}

.contents {
  border-top: 1px solid rgba(255,255,255,.1);
  text-shadow: 0 0 3px rgba(0,0,0,.5);
  .wrap {
    padding: 10px 20px;
  }
  h1 {
    position: relative;
    padding: 38px 0 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    a {
      display: block;
      position: absolute;
      left: -14px;
      top: 50px;
      width: 0;
      height: 0;
      border-top: 8px solid $gray;
      border-right: 8px solid transparent;
      @include transition-property(border-color);
      @include transition-duration(0.3s);
      &:hover {
        border-top-color: lighten($gray, 30%);
      }
    }
  }
  h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  h3, h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  p {
    padding: 4px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    word-break: keep-all;
    word-wrap: break-word;
    letter-spacing: -0.025em;
  }
  .profile {
    p > span {
      display: inline-block;
      padding-right: 4px;
      &:before {
        content: "#"
      }
      a {
        text-decoration: none;
        font-weight: 500;
        color: $white;
      }
    }
    li {
      font-size: 14px;
      line-height: 24px;
      &:before {
        font-family: $emoji;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        content: "\01F310";
      }
      > a {
        font-style: italic;
        color: $gray;
        @include transition-property(color);
        @include transition-duration(0.3s);
        &:hover {
          color: lighten($gray, 30%);
        }
      }
    }
  }
  .skill {
    li {
      position: relative;
      vertical-align: top;
      display: inline-block;
      margin: 2px 0;
      padding: 4px 12px;
      background-color: $gray;
      border-radius: 5px;
      text-transform: uppercase;
      overflow: hidden;
      &:after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: darken($gray, 10%);
        content: "";
      }
      @for $i from 1 through 10 {
        $percent: $i * 10;
        &.per_#{$percent}:after {
          width: #{$i}0%;
        }
      }
      span {
        position: relative;
        z-index: 1;
      }
    }
  }
  .company {
    margin-bottom: 30px;
    .company_name {
      position: relative;
      padding: 4px 20px 0 76px;
      height: 60px;
      border-width: 2px 1px 1px;
      border-style: solid;
      border-color: $white $gray $gray $white;
      box-sizing: border-box;
      &:before {
        display: block;
        position: absolute;
        left: -1px;
        top: -2px;
        width: 60px;
        height: 60px;
        background: $white url("../img/company.png") no-repeat center center;
        content: "";
      }
      span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 15px;
        &.position {
          float: left;
        }
        &.date {
          float: right;
        }
      }
    }
    .project {
      padding: 0 20px 0 76px;
      > h4 {
        position: relative;
        margin-top: 24px;
        font-weight: 700;
        &:before {
          position: absolute;
          left: -16px;
          top: 50%;
          margin-top: -3px;
          display: block;
          width: 6px;
          height: 6px;
          background-color: $gray;
          content: "";
        }
        small {
          padding-left: 4px;
          font-weight: 300;
          font-size: 14px;
          color: $gray;
        }
      }
      .url {
        margin-bottom: 14px;
        li {
          font-size: 14px;
          line-height: 24px;
          color: $gray;
          &:before {
            font-family: $emoji;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            content: "\01F310";
          }
          > a {
            font-style: italic;
            color: $gray;
            @include transition-property(color);
            @include transition-duration(0.3s);
            &:hover {
              color: lighten($gray, 30%);
            }
          }
        }
      }
      blockquote {
        margin: 14px 0;
        padding: 14px 20px;
        background-color: rgba(120,144,156,.2);
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
      }
      .todo {
        margin-bottom: 14px;
        padding: 0 20px;
        li {
          padding-bottom: 4px;
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          list-style: circle;
          a.link {
            text-decoration: none;
            &:before {
              font-family: $emoji;
              content: "💾"
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 30px 0;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
}