@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

section, article, aside, footer, header, nav, hgroup {
  display: block;
}

body {
  background-color: #263238;
  font: 16px "Noto Sans KR", sans-serif;
  color: #eceff1;
}

strong {
  font-weight: 700;
}

.wrap {
  margin: 0 auto;
  width: 640px;
  box-sizing: border-box;
}

.emoji {
  font-weight: normal;
  font-family: "Segoe UI Emoji";
}

header {
  position: relative;
  height: 360px;
  background: #90a4ae url("../img/bg.png");
  border-bottom: 1px solid #13191c;
  -moz-transition: background-color 1s, height 0.3s;
  -o-transition: background-color 1s, height 0.3s;
  -webkit-transition: background-color 1s, height 0.3s;
  transition: background-color 1s, height 0.3s;
}
header:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.3)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  z-index: 0;
}
header.weather_01d, header.weather_02d {
  background-color: #81d4fa;
}
header.weather_01n, header.weather_02n {
  background-color: #055377;
}
header.weather_03d, header.weather_04d, header.weather_09d, header.weather_10d, header.weather_11d, header.weather_13d {
  background-color: #b0bec5;
}
header.weather_03n, header.weather_04n, header.weather_09n, header.weather_10n, header.weather_11n, header.weather_13n {
  background-color: #323e44;
}
header.weather_50d {
  background-color: #eceff1;
}
header.weather_50n {
  background-color: #5e7280;
}
header.weather_01d .info:before {
  content: "☀️ ";
}
header.weather_01n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "☀️ ";
}
header.weather_02d .info:before {
  content: "⛅️ ";
}
header.weather_02n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "⛅️ ";
}
header.weather_03d .info:before, header.weather_04d .info:before {
  content: "☁️ ";
}
header.weather_03n .info:before, header.weather_04n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "☁️ ";
}
header.weather_09d .info:before {
  content: "🌧️ ";
}
header.weather_09n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "🌧️ ";
}
header.weather_10d .info:before {
  content: "🌦️ ";
}
header.weather_10n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "🌦️ ";
}
header.weather_11d .info:before {
  content: "🌩️ ";
}
header.weather_11n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "🌩️ ";
}
header.weather_13d .info:before {
  content: "🌨️ ";
}
header.weather_13n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "🌨️ ";
}
header.weather_50d .info:before {
  content: "🌫 ";
}
header.weather_50n .info:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "🌫 ";
}
header .wrap {
  position: relative;
  padding-top: 160px;
  text-align: center;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}
header .wrap > img {
  position: relative;
  vertical-align: top;
  width: 200px;
  height: 200px;
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .wrap .info {
  position: absolute;
  left: 0;
  top: 0;
  font: bold 12px "돋움", "Dotum", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
header .wrap .info:before {
  font-family: "Segoe UI Emoji";
}

.contents {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.contents .wrap {
  padding: 10px 20px;
}
.contents h1 {
  position: relative;
  padding: 38px 0 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.contents h1 a {
  display: block;
  position: absolute;
  left: -14px;
  top: 50px;
  width: 0;
  height: 0;
  border-top: 8px solid #78909c;
  border-right: 8px solid transparent;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.contents h1 a:hover {
  border-top-color: #d0d9dd;
}
.contents h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.contents h3, .contents h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.contents p {
  padding: 4px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.025em;
}
.contents .profile p > span {
  display: inline-block;
  padding-right: 4px;
}
.contents .profile p > span:before {
  content: "#";
}
.contents .profile p > span a {
  font-weight: 500;
  color: #eceff1;
}
.contents .profile li {
  font-size: 14px;
  line-height: 24px;
}
.contents .profile li:before {
  font-family: "Segoe UI Emoji";
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "\01F310";
}
.contents .profile li > a {
  font-style: italic;
  color: #78909c;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.contents .profile li > a:hover {
  color: #d0d9dd;
}
.contents .skill li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: 2px 0;
  padding: 4px 12px;
  background-color: #78909c;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  overflow: hidden;
}
.contents .skill li:after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #5f7682;
  content: "";
}
.contents .skill li.per_10:after {
  width: 10%;
}
.contents .skill li.per_20:after {
  width: 20%;
}
.contents .skill li.per_30:after {
  width: 30%;
}
.contents .skill li.per_40:after {
  width: 40%;
}
.contents .skill li.per_50:after {
  width: 50%;
}
.contents .skill li.per_60:after {
  width: 60%;
}
.contents .skill li.per_70:after {
  width: 70%;
}
.contents .skill li.per_80:after {
  width: 80%;
}
.contents .skill li.per_90:after {
  width: 90%;
}
.contents .skill li.per_100:after {
  width: 100%;
}
.contents .skill li span {
  position: relative;
  z-index: 1;
}
.contents .company {
  margin-bottom: 30px;
}
.contents .company .company_name {
  position: relative;
  padding: 4px 20px 0 76px;
  height: 60px;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: #eceff1 #78909c #78909c #eceff1;
  box-sizing: border-box;
}
.contents .company .company_name:before {
  display: block;
  position: absolute;
  left: -1px;
  top: -2px;
  width: 60px;
  height: 60px;
  background: #eceff1 url("../img/company.png") no-repeat center center;
  content: "";
}
.contents .company .company_name span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
}
.contents .company .company_name span.position {
  float: left;
}
.contents .company .company_name span.date {
  float: right;
}
.contents .company .project {
  padding: 0 20px 0 76px;
}
.contents .company .project > h4 {
  position: relative;
  margin-top: 24px;
  font-weight: 700;
}
.contents .company .project > h4:before {
  position: absolute;
  left: -16px;
  top: 50%;
  margin-top: -3px;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #78909c;
  content: "";
}
.contents .company .project > h4 small {
  padding-left: 4px;
  font-weight: 300;
  font-size: 14px;
  color: #78909c;
}
.contents .company .project .url {
  margin-bottom: 14px;
}
.contents .company .project .url li {
  font-size: 14px;
  line-height: 24px;
  color: #78909c;
}
.contents .company .project .url li:before {
  font-family: "Segoe UI Emoji";
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  content: "\01F310";
}
.contents .company .project .url li > a {
  font-style: italic;
  color: #78909c;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.contents .company .project .url li > a:hover {
  color: #d0d9dd;
}
.contents .company .project blockquote {
  margin: 14px 0;
  padding: 14px 20px;
  background-color: rgba(120, 144, 156, 0.2);
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.contents .company .project .todo {
  margin-bottom: 14px;
  padding: 0 20px;
}
.contents .company .project .todo li {
  padding-bottom: 4px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  list-style: circle;
}
.contents .company .project .todo li a.link {
  text-decoration: none;
}
.contents .company .project .todo li a.link:before {
  font-family: "Segoe UI Emoji";
  content: "💾";
}

footer {
  padding: 30px 0;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #78909c;
}
footer a {
  color: #78909c;
}

@media screen and (max-width: 640px) {
  .wrap {
    width: 100%;
    max-width: 360px;
  }

  header {
    height: 180px;
  }
  header .wrap {
    padding-top: 80px;
  }
  header .wrap > img {
    width: 100px;
    height: 100px;
  }
  header .wrap .info {
    font-size: 10px;
  }

  .contents h1 {
    padding: 24px 0 6px;
    font-size: 34px;
    line-height: 44px;
  }
  .contents h1 a {
    top: 34px;
  }
  .contents h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .contents h3, .contents h4 {
    font-size: 16px;
    line-height: 28px;
  }
  .contents p {
    font-size: 14px;
    line-height: 22px;
  }
  .contents .skill li {
    font-size: 13px;
  }
  .contents .company {
    margin-bottom: 24px;
  }
  .contents .company .company_name {
    padding-left: 68px;
    padding-right: 14px;
  }
  .contents .company .company_name:before {
    background-image: url("../img/company@2x.png");
    background-size: 28px 38px;
  }
  .contents .company .company_name span {
    font-size: 13px;
  }
  .contents .company .project {
    padding: 0 14px;
  }
  .contents .company .project > h4 {
    margin-top: 12px;
    margin-bottom: 4px;
  }
  .contents .company .project > h4:before {
    left: -14px;
    top: 12px;
    margin-top: auto;
  }
  .contents .company .project > h4 small {
    display: block;
    padding-left: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .contents .company .project .url {
    margin-bottom: 10px;
  }
  .contents .company .project blockquote {
    margin: 10px 0;
    padding: 8px 14px;
    font-size: 13px;
    line-height: 18px;
  }
  .contents .company .project .todo {
    margin-bottom: 10px;
  }
  .contents .company .project .todo li {
    font-size: 14px;
  }

  footer {
    padding: 20px 0;
    font-size: 10px;
  }
}
